.slyck-schedule {
  display: block;
  overflow: hidden;
}

.slyck-schedule-ui {
  position: absolute;
  pointer-events: none;
}

.end-right{
    pointer-events: none;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    filter: ~"progid: DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#00ffffff', EndColorStr='#ffffff')";
    position: absolute;
    width: 60px;
}

.end-left{
    pointer-events: none;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    filter: ~"progid: DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#ffffff', EndColorStr='#00ffffff')";
    position: absolute;
    width: 60px;
}